:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#1a936f ;
    --secundario: #114b5f;
    --gris: #757575;
    --degradado: #b1d7eb;
}
html {
    font-size: 62.5%; /** Al aplicar estos valores al html y body podemos trabajar con los rem más fácilmente 1rem = 10px */
    box-sizing: border-box; /** video 36 **/
    
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif; /** Aplicamos estilo de fuente a todo el body **/
    background-image: linear-gradient(to top, var(--degradado) 0%, var(--blanco)); /** Degradado desde parate baja hacia arriba acabando en blanco **/
    
}

/* Tipografía */
h1 {
    font-size: 3.8rem; /** 38 pixels **/
}
h2 {
    font-size: 2.8rem; /** 28 pixels **/
}
h3 {
    font-size: 1.8rem; /** 18 pixels **/
}
h1, h2, h3, span {
    text-align: center;
}
/** Codigo CSS para animación index.html **/
.fondo-animado {
    background-color: #0040C1;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Krub', sans-serif;    
  }
  
.fondo-animado__title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 1;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
      
  }
  .fondo-animado__title a {
      text-align: center;
      border-radius: .5rem;
      text-decoration: none;
      font-weight: normal;
      width: 20%;
        
  }
 
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
            animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #0051f4;
  }
  .cube:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  @-webkit-keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
              transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
              transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
/* fin codeigo css animacion */

.contenedor {
    max-width: 120rem; /** 1200px **/
    margin: 0 auto;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5); /** Box shadow **/
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.sombrafoto { 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5); /** Box shadow **/
    background-color: var(--blanco);    
    border-radius: 1rem;
}

.nav-bg {
    background-color: var(--secundario); /** Aplicamos color secundario a barra navegación **/
    
}
.navegacion-principal {    
    display: flex; /** Activamos flex para contenedor navegación-principal **/
    flex-direction: column; /** Muestra enlaces de navegación en columna para dispositivos de menos de 768px **/
    
}
@media (min-width: 768px){ 
    .navegacion-principal{
        flex-direction: row; /** Cuando la pantalla sobrepasa 768 px aplicamos flex en linea **/
        justify-content: space-between;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco); /** Aplicamos color blanco a texto barra navegación **/
    text-decoration: none; /** Quitamos subrayado de enlaces **/
    font-size: 2rem; /** Aumnetamos tamaño enlaces barra navegación **/
    font-weight: bold; /** Aplicamos fuente bold a enlaces barra navegación **/
    padding: 2rem; /** Aumentamos ancho de barra navegación **/
}
.navegacion-principal a:hover {
    background-color: var(--primario); /** Hover sobre enlaces de navegación. Cambia a color secundario **/
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.png); /** Agregamos imagen de fondo **/
    background-repeat: no-repeat; /** Cuando el tamaño del contenedor es mayor que la iumagen no la repite **/
    background-size: cover; /** Rellena todo el espacio con la imagen **/
    height: 450px; /** Aumentamos el tamaño de la imagen **/      
    position: relative;
    margin-bottom: 2rem; /** Aplica espacion entre hero y caja con soombra **/
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%); /** 0 0 0 color negro / porcentaje transparencia **/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portofolio {
    background-image: url(../img/1631547010-portfolio4.jpg); /** Agregamos imagen de fondo **/
    background-repeat: no-repeat; /** Cuando el tamaño del contenedor es mayor que la iumagen no la repite **/
    background-size: cover; /** Rellena todo el espacio con la imagen **/
    height: 450px; /** Aumentamos el tamaño de la imagen **/      
    position: relative;    
    margin-bottom: 2rem; /** Aplica espacion entre hero y caja con soombra **/
}
.biografia {
  background-image: url(../img/bio.jpg); /** Agregamos imagen de fondo **/
  background-repeat: no-repeat; /** Cuando el tamaño del contenedor es mayor que la iumagen no la repite **/
  background-size: 100%; /** Rellena todo el espacio con la imagen **/
  height: 200px; /** Aumentamos el tamaño de la imagen **/      
  position: relative;    
  margin-bottom: 2rem; /** Aplica espacion entre hero y caja con soombra **/
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco); /* Aplicamos letra color blanco a h2 (diseño y desarrollo web) y p (ibiza-valencia) */
}
.contenido-hero .ubicacion { 
    display: flex;
    align-items: flex-end;
}
/** Servicios **/
@media (min-width:768px ) {
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%; /** Aplicamos grid y repartimos el 100% del espacio en 3 columnas, se puede usa 1fr **/
    }    
}

.servicio {  /* Aplicamos flex al contenedor .servicio y alineamos en columna centrado titulo icono y texto servicios */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.servicio h3 {
    color: var(--secundario); /* aplicamos a los titulos de servicio color secundario */
    font-weight: 400;
}
.servicio p {
    line-height: 2; /* Espaciado entre lineas seccion servicios */
}
.servicio .iconos {
    height: 15rem;
    width: 20rem;    
    display: flex;
    justify-content: space-evenly; /** Alineamos horizontalmente **/
    align-items: center; /** Alineamos verticalmente * */
}
.web {  /* Aplicamos estilos a enlaces portfolio */
    text-decoration: none;
    color: var(--blanco);
    background-color: #114b5f;
    border-radius: 0.5rem;
    width: 50%;
    text-align: center;
}

.titulo_portfolio {
    text-transform: uppercase;
}

/** Contacto.html **/

.formulario {  /** aplicamos estilos al formulario de contacto **/
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem; 
}
.formulario fieldset {
    border: none;

}.formulario legend {  /** Aplicamos estilos al legend del formulario **/
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
    
}
legend {
  text-align: center; /* Alineamos al centro titulo formulario */
  width: 100%; /* Damos anchura 100% para que quepa legend en una linea*/
}
@media (min-width: 768px) {
    .contenedor-entradas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    
    .entrada:nth-child(3),
    .entrada:nth-child(4){         /* Seleccionamos el 3º hijo de las clases .entrada */
        grid-column: 1 / 3;        /* Hacemos que los campos correo y mensaje ocupen de la columna 1 a la 3 */        
    }
}


.entrada {
    margin-bottom: 1rem;  /** Separación de 10px entre los distintos campos del formulario **/
}

.entrada label {  /** Aplicamos estilos a las etiquetas de los campos del fomrulario **/
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.datos {
    width: 100%; /** Toma todo el espacio disponible **/
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    border: none;
    width: 100%;
    
}

.fondo-animado__boton{
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    background-color: var(--secundario);
    border-radius: 1rem;
    width: 100%;
    border: none;  
    
}

.boton:hover {
    cursor:pointer; /* Activa la mano como cursor cuando ponemos raton encima de boton */
}

.entrada textarea {
    height: 20rem;
}
.mapa {  /* Aplicamos estilos a mapa */
    padding: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: space-around;
}
.social { /* distribuimos iconos social media */
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.main-contacto {  /* Aplicamos grid a campos formulario */
  display: grid;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
    .main-contacto{
      display: flex;
      justify-content: space-evenly;
    }
}

footer {
    text-align: center;    
}

.foto {
    border-radius: 15rem;
    height: 250px; /* reducimos tamaño imagen */
    margin-bottom: 2rem; /* margen inferior respecto al texto de 2rem */
     
}
.caja_bio {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

@media (min-width: 768px) {
   .biografia{
       height: 390px;
   } 
}

