:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575
    
}
html {
    font-size: 62.5%; /** Al aplicar estos valores al html y body podemos trabajar con los rem más fácilmente 1rem = 10px */
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif; /** Aplicamos estilo de fuente a todo el body **/
}
.titulo {
    text-align: center;
    font-size: 3.8rem; /** 38 pixels **/
    
}
.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem; /** 1200px **/
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario); /** Aplicamos color secundario a barra navegación **/
}
.navegacion-principal {
    padding: 1rem; /** Aumentamos ancho de barra navegación **/
}
.navegacion-principal a {
    color: var(--blanco); /** Aplicamos color blanco a texto barra navegación **/
    text-decoration: none; /** Quitamos subrayado de enlaces **/
}   