:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#1a936f ;
    --secundario: #114b5f;
    --gris: #757575;
    --degradado: #b1d7eb;
}
html {
    font-size: 62.5%; /** Al aplicar estos valores al html y body podemos trabajar con los rem más fácilmente 1rem = 10px */
    box-sizing: border-box; /** video 36 **/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif; /** Aplicamos estilo de fuente a todo el body **/
    background-image: linear-gradient(to top, var(--degradado) 0%, var(--blanco)); /** Degradado desde parate baja hacia arriba acabando en blanco **/
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5); /** Box shadow **/
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografía */
h1 {
    font-size: 3.8rem; /** 38 pixels **/
}
h2 {
    font-size: 2.8rem; /** 28 pixels **/
}
h3 {
    font-size: 1.8rem; /** 18 pixels **/
}
h1, h2, h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem; /** 1200px **/
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario); /** Aplicamos color secundario a barra navegación **/
}
.navegacion-principal {    
    display: flex; /** Activamos flex para contenedor navegación-principal **/
    flex-direction: column; /** Muestra enlaces de navegación en columna para dispositivos de menos de 768px **/
    
}
@media (min-width: 768px){ 
    .navegacion-principal{
        flex-direction: row; /** Cuando la pantalla sobrepasa 768 px aplicamos flex en linea **/
        justify-content: space-between;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco); /** Aplicamos color blanco a texto barra navegación **/
    text-decoration: none; /** Quitamos subrayado de enlaces **/
    font-size: 2rem; /** Aumnetamos tamaño enlaces barra navegación **/
    font-weight: bold; /** Aplicamos fuente bold a enlaces barra navegación **/
    padding: 1rem; /** Aumentamos ancho de barra navegación **/
}
.navegacion-principal a:hover {
    background-color: var(--primario); /** Hover sobre enlaces de navegación. Cambia a color secundario **/
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.png); /** Agregamos imagen de fondo **/
    background-repeat: no-repeat; /** Cuando el tamaño del contenedor es mayor que la iumagen no la repite **/
    background-size: cover; /** Rellena todo el espacio con la imagen **/
    height: 450px; /** Aumentamos el tamaño de la imagen **/      
    position: relative;
    margin-bottom: 2rem; /** Aplica espacion entre hero y caja con soombra **/
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%); /** 0 0 0 color negro / porcentaje transparencia **/
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}
/** Servicios **/
@media (min-width:768px ) {
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%; /** Aplicamos grid y repartimos el 100% del espacio en 3 columnas, se puede usa 1fr **/
    }    
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 400;
}
.servicio p {
    line-height: 2;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly; /** Alineamos horizontalmente **/
    align-items: center; /** Alineamos verticalmente **/
}
/** Contacto.html **/

.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.mapa {
    display: flex;
    justify-content: center;
}